.postcard-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.mesa-fondo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.postcard-container{
position: relative;
z-index: 2;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.postcard{
 width: min(90vw, 750px);
  height: auto;
  aspect-ratio: 148 / 105;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}

.postcard.flipped {
  transform: rotateY(180deg);
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.front img,
.back img {
width: 100%;
height: 100%;
object-fit: contain;
}
.button-container{
position: absolute;
bottom: 40px;
left: 0;
width: 100%;
display: flex;
justify-content: center;

z-index:10000;
}

.start-button{
text-decoration: none;
background-color: #c8a27b;
color: #3f2c20;
padding: 22px 65px;
border-radius: 60px;
font-family: 'Anton', sans-serif;
font-size: 1.9rem;
letter-spacing: 1px;
box-shadow: 0 8px 25px rgba(0,0,0,0.25);
transition: 0.3s ease;
display: inline-block;
}

.start-button:hover{
background-color: #b78d64;
transform: scale(1.05);
}
